<style>
.navbar .nav-link.active {
  color: var(--global-theme-color) !important;
  font-weight: 700 !important;
}

.site-title strong {
  font-weight: 700;
}

header.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

body {
  padding-top: 70px;
}
</style>

<header class="navbar navbar-expand-lg navbar-light">
  <div class="container">

    <a class="navbar-brand" href="{{ '/' | relative_url }}">
      <strong>Ekrem Cem</strong> ÇANKIRILIGİL
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">

        {% assign nav_pages = site.pages | where: "nav", true | sort: "nav_order" %}
        {% for p in nav_pages %}
          <li class="nav-item">
            <a class="nav-link {% if page.url == p.url %}active{% endif %}" href="{{ p.url | relative_url }}">
              {{ p.title | strip_html }}
            </a>
          </li>
        {% endfor %}

      </ul>
    </div>

  </div>
</header>
