<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">
      <ul class="nav-list">

        <li><a href="/">Home</a></li>

        <li><a href="/education/">Education</a></li>
        <li><a href="/experience/">Experience</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/publications/">Publications</a></li>
        <li><a href="/presentations/">Presentations</a></li>
        <li><a href="/review/">Editorial & Review</a></li>
        <li><a href="/committees/">Committees</a></li>
        <li><a href="/teaching/">Teaching</a></li>
        <li><a href="/awards/">Awards</a></li>
        <li><a href="/impact/">Impact</a></li>

      </ul>
    </nav>

  </div>

</header>
