{% if page.url == "/" %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Ekrem Cem Çankırılıgil",
  "alternateName": [
    "Ekrem Cem Cankiriligil",
    "Ekrem Cem ÇANKIRILIGİL",
    "Ekrem Cem CANKIRILIGIL",
    "Cem Çankırılıgil",
    "Cem Cankiriligil"
  ],
  "honorificPrefix": "Dr.",
  "jobTitle": "Researcher",
  "affiliation": {
    "@type": "Organization",
    "name": "Sheep Breeding Research Institute"
  },
  "url": "https://ekremcem.github.io/",
  "sameAs": [
    "https://scholar.google.com/citations?user=XkeIjmMAAAAJ",
    "https://orcid.org/0000-0001-5898-4469",
    "https://www.researchgate.net/profile/Ekrem-Cankiriligil",
    "https://tr.linkedin.com/in/ekrem-cem-%C3%A7ank%C4%B1r%C4%B1l%C4%B1gil",
    "https://dergipark.org.tr/tr/pub/@ekremcem",
    "https://search.trdizin.gov.tr/tr/yazar/detay/810435/ekrem-cem-cankiriligil"
  ],
  "knowsAbout": [
    "Aquaculture",
    "Seafood chemistry",
    "Marine natural products",
    "Antarctic macroalgae",
    "Fisheries science",
    "Polar science"
  ]
}
</script>
{% endif %}
